 
.odd
{
	background:#dffedf;
}
.even
{
	
}
.simple_tabletop tr:first-child, .simple_tabletop, .simple_tablebot
{
	/* Webkit */
	  background: -webkit-gradient(linear, center top, center bottom, from(#F1F1F1), to(#E8E8E8));
	  -webkit-box-shadow: 0px 0px 5px #CCC;
	  /* Firefox 3.6+ */
	  background: -moz-linear-gradient(center top ,#F1F1F1, #E8E8E8) repeat scroll 0 0 transparent;
	  -moz-box-shadow: 0px 0px 5px #CCC;
	  /* Internet Explorer */
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1F1F1', endColorstr='#E8E8E8');
	  /* Opera */
	  box-shadow: 0px 0px 5px #CCC;
	  
	  border-top-color: #FFFFFF;
}
.simple_tabletop tr:first-child:hover
{
	cursor:pointer;
}
.simple_tablebot td, .simple_tabletop td, .simple_paginate_section
{
	padding:10px;
	color:#000;
}
.simple_paginate_section 
{
    cursor: pointer;
}
.simple_tablebot td
{
	font-size: 10px;
}
.simple_table{
	width:1000px;
}
.simple_tablebot, .simple_tabletop
{
	width:100%;
	border-collapse:collapse;
	border: 1px solid #ccc;
}
.simple_paginate 
{
	color:#000;
	border:1px solid #999;
	text-decoration:none;
	padding: 2px 5px 2px 5px;
	margin : 0 2px;
}
.simple_paginate:hover, .simple_paginate_active
{
	color:#dffedf;
	background:#999;
}
.sort_arrow
{
	width:7px;
	height:14px;
	padding: 0 5px;
	vertical-align:middle;
}